#sc {
    font-size: 10vh;
    width: min-content;
    height: min-content;
    position: relative;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%,150%);
    position: absolute; */
}