.asset {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    /* color: white; */
}

.planet {
    background-color: orange; /* defines the background color of the image */
    mask: url(../images/planet.svg) no-repeat center / contain;
    -webkit-mask: url(../images/planet.svg) no-repeat center / contain;
}

.asset-container {
    position: relative;
    z-index: 10;
    color: white;
}

#sc {
    transition: box-shadow .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}

#overlay {
    position: relative; 
    display: block; 
    width: inherit; 
    height: inherit; 
    background-color: rgba(0,0,0,0); 
    z-index: 20; 
    transition: all .5s ease-in-out;
}
#overlay-text {
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    font-size: 50px;
    color: white;
    /* padding-top: 50%; */
    transform: translate(0%,500%);
}

.view {
    width: 900px;
    max-width: 900px;
    height: 700px;
    max-height: 700px;
    margin: auto;
    display: inline-block;
    margin-left: 80.5;
    margin-top: 33.5;
    border-style: dotted;
    z-index: 5;
    /* background: linear-gradient(90deg, #0c1129 21px, transparent 1%) center, linear-gradient(#0c1129 21px, transparent 1%) center, #beb9d4;
    background-size: 22px 22px; */
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
  max-width: 900px;
  max-height: 700px;
  margin-top: 33.5;
  margin-left: 80.5;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.clouds{
    background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
    z-index:2;

  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}

canvas {
    /* width: 100vw;
    height: 100vh; */
    width: 900px;
    max-width: 900px;
    height: 700px;
    max-height: 700px;
    /* background-color: antiquewhite; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* margin: auto; */
    margin-left: 80.5;
    margin-top: 33.5;
    display: inline-block;
    z-index: 3;
}

.footer {
    padding-top: 5vh;
}