html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
    /* background-color: #000; */
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    position: relative;
}
#logo {
    padding: 2vh;
}
#logo-img {
    width: 30vw;
}

#warning {
    color: white;
    display: none;
}

.all-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translate(-50%, -50%);
}

#content {
    min-height: 100vh;
    padding-bottom: 5rem;
}

.footer {
    padding-top: 5vh;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.bi{
    color: #ff7089;
}